---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import { blogs } from "../data/blogs";
---

<Layout title="Todos los blogs">
  <h1>Todos los blog disponibles</h1>
  <h2>Filtrar por categorias</h2>

    <section>
        {
            blogs.map((card, index) => {
                return (
                    <a href={`/${card.id}`} class:list={['card', {big: index === 0}]}>
                        <div class="card__img">
                            <img src={`${card.image}`} alt={`${card.title}`} style={`view-transition-name: title-${card.id}`}/>    
                            <p class="tag">#{card.tag}</p>
                        </div>
                        <div class="card__text">
                            <h2 style={`view-transition-name: blog-${card.id}`}>{card.title}</h2>
                            <p>{card.content}</p>
                            <div class="author">
                                <p>{card.author}</p>
                                <p>{card.date}</p>
                            </div>
                        </div>
                    </a>
                )
            })
        }
    </section>

    <Button text="Regresar" route=""/>
</Layout>


<style lang="scss">
    section {
        margin-top: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;

    }

    .card {
        width: 100%;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0px 5px 5px rgba(0,0,0,0.1);
        display: flex;
        height: 300px;
        transition: all 0.2s ease-in-out;
        background-color: #fff;

        &__img {
            width: 60%;
            height: 100%;
            overflow: hidden;
            position: relative;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .tag {
                position: absolute;
                top: 10px;
                left: 10px;
                padding: 5px 10px;
                background-color: rgba(0,0,0,0.3);
                color: white;
                border-radius: 10px;
                letter-spacing: 1px;
            }
        }

        &__text {
            height: 100%;
            padding: 10px 20px;
            display: grid;
            grid-template-rows: auto 1fr auto;
            h2 {
                font-size: 25px;
                color: #575757;
                // font-weight: 700;
                line-height: 20px;
                transition: all 0.2s ease-in-out;
                margin-bottom: 10px;
            
            }

            p {
                font-size: 14px;
                font-weight: 300;
            }

            .author {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: row;
                p {
                    font-size: 12px;
                    color: #a5a5a5;
                }
            
            }
        }
    }

</style>